table {
  tr {
    textarea {
      width: 95% !important;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
    }
  }
}


.paginate-area {
  position: relative;
  margin-top: 20px;
  .pagination{
    width: max-content;
    margin: 0px auto;
  }
}
