table {
  tr {
    textarea {
      width: 95% !important;
      float: left;
    }
  }
}


.paginate-area {
  position: relative;
  margin-top: 20px;
  .pagination{
    width: max-content;
    margin: 0px auto;
  }
}
