table {
  tr {
    textarea {
      width: 95%;
    }
  }

  .field-false {
    border: 1px solid #f8a5a5;
  }

  .center {
    text-align: center;
    display: block;
    position: relative;
    margin: 0px auto;
  }
}


.paginate-area {
  position: relative;
  margin-top: 20px;
  .pagination{
    width: max-content;
    margin: 0px auto;
  }
}
